.Skeleton {
  background-color: hsl(var(--skeleton-primary-bg) / 0.1);
  border-radius: calc(var(--radius) - 2px);
  width: 200px;
  height: 16px;
  &.rounded-full {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
  }
}

.SkeletonKitEmptySpan {
  font-weight: 400;
  font-size: 16px;

  color: var(--titleColor, #fff);
  line-height: 20px;
}

.SkeletonKitFlexWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}
.SkeletonKitWrap {
  .SkeletonKit {
    width: 100%;
    display: flex;
    align-items: center;
    .SkeletonKitRight {
      margin-left: 16px;
      .SkeletonKitRightLine1 {
        width: 200px;
      }
      .SkeletonKitRightLine2 {
        margin-top: 8px;
        width: 150px;
      }
    }
  }

  .SkeletonKitRightLine3 {
    margin-top: 8px;

    width: 264px;
  }
}
